:root {
  --color-accent: #fcf5e9;
  --color-grey-600: #333;
  --container-normal-width: 1150px;
  --container-wide-width: 1400px;
  --container-narrow-width: 850px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
