.u-fixed-width--normal {
  max-width: var(--container-normal-width);
  margin: 0 auto;
}

.u-fixed-width--wide {
  max-width: var(--container-wide-width);
  margin: 0 auto;
}

.u-fixed-width--narrow {
  max-width: var(--container-narrow-width);
  margin: 0 auto;
}

.u-highlight {
  padding-inline: 0.1em;
  background-color: var(--color-accent);
}

.u-sr-only {
  position: absolute;
  inset: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
