.u-fixed-width--big {
  max-width: 1400px;
  margin: 0 auto;
}

.u-fixed-width--medium {
  max-width: 1150px;
  margin: 0 auto;
}

.u-fixed-width--small {
  max-width: 850px;
  margin: 0 auto;
}

.u-highlight {
  padding-inline: 0.1em;
  background-color: var(--color-accent);
}

.u-sr-only {
  position: absolute;
  inset: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
