.gallery {
  margin: 0 2rem 2.5rem;
}

.gallery__content {
  --gallery-gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap);
  justify-content: center;
}

.gallery__image {
  flex-basis: calc((100% / 3) - 2 * var(--gallery-gap));
  min-width: 0;
  min-height: 0;
  object-fit: cover;
  border-radius: 10px;

  @media screen and (width <= 768px) {
    flex-basis: calc((100% / 2) - var(--gallery-gap));
  }
}
