.gallery {
  margin: 0 2rem 2.5rem;
}

.gallery__content {
  --gallery-gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap);
  justify-content: center;
}

.gallery__link {
  flex-basis: calc((100% / 3) - 2 * var(--gallery-gap));

  @media screen and (width <= 768px) {
    flex-basis: calc((100% / 2) - var(--gallery-gap));
  }
}

.gallery__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
