.slogan {
  display: flex;
  align-items: center;
  height: 500px;
  padding-inline: 2rem;
  font-size: 3rem;
  line-height: 1.4;
  text-align: center;

  @media screen and (width <= 768px) {
    height: 300px;
    font-size: 1.8rem;
  }
}

.slogan--dark {
  color: white;
  background-color: var(--color-grey-600);

  & .u-highlight {
    color: var(--color-grey-600);
  }
}
